<div class="container-fluid px-5">
    <div class="row">
        <div class="col-1">
            <div class="triangulo">
            </div>
        </div>
        <div class="col-11 titulo">
            <h1>ACERCA DE</h1>
        </div>
    </div>
    <div class="row mx-0 linea">
    </div>
    <div class="row seccion">
        <div class="col-md-3 perfil">
            <img src="assets/foto.jpg" class="foto mx-auto d-block rounded-circle" alt="foto">
            <p style="font-size:15px;">Marina Appelhans</p>
            <p>Desarrollador web full stack junior</p>
            <p>Córdoba, Argentina</p>
        </div>
        <div class="col-md-9 presentacion">
            <p>Hola! Mi nombre es Marina Appelhans y soy desarrolladora web full stack junior.<br>
                Desde siempre he tenido curiosidad por la tecnología, pero mi interés por los números, me llevó a estudiar contabilidad.
                Incursionar en la programación me permitió descubrir nuevas formas de pensar y modelar el mundo, y hoy disfruto de cada nuevo desafío.
                <span id="educacion"></span>
            </p>
        </div>
    </div>
</div>