<div class="container-fluid px-5">
    <div class="row">
        <div class="col-1">
            <div class="triangulo">
            </div>
        </div>
        <div class="col-11 titulo">
            <h1>ACERCA DE</h1>
        </div>
    </div>
    <div class="row mx-0 linea">
    </div>
    
    <button type="button" class="btn btn-dark" routerLink="/editacercade/1" *ngIf="isLogged" id="editar">
        <i class="bi bi-pencil-fill"></i>
    </button>
  
    <div class="row seccion">
        <div class="col-md-3 perfil">
            <img src={{pers.img}} class="foto mx-auto d-block rounded-circle" alt="foto de perfil">
            <p>{{pers.nombre}} {{pers.apellido}}</p>
            <p>{{pers.titulo}}</p>
        </div>
        <div class="col-md-9 descripcion">
            <p>{{pers.descripcion}}
                <span id="experiencia"></span>
            </p>
        </div>
    </div>
</div>
