.triangulo {
    width: 0;
    height: 0;
    border-left: 40px solid rgb(255, 195, 85);
    border-right: 40px solid transparent;
    border-bottom: 80px solid transparent;
    transform: rotate(270deg);
}

.titulo {
    display: flex;
    align-items: flex-end;
}

.titulo h1 {
    font-size: 22px;
    padding-left: 2.4em;
    letter-spacing: 8px;
}

.linea {
    border-top-style:solid;
    border-top-color:rgb(255, 195, 85); 
    border-top-width: 5px;
}

@media (max-width: 768px) {
    #agregar {
        margin-top: 20px;
        width:100%;
    }  
}

@media (min-width: 769px) {
    #agregar {
        position: absolute;
        margin-top: -50px;
        right: 50px;
    }
}

.circulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#editar {
    margin-right: 3px;
    background-color:green;
    border-color:green;
    border-radius: 50%;
}

#eliminar {
    margin-left: 3px;
    background-color:red;
    border-color:red;
    border-radius: 50%;
}
