<div class="container-fluid px-5">
    <div class="row">
        <div class="col-1">
            <div class="triangulo">
            </div>
        </div>
        <div class="col-11 titulo">
            <h1>EDUCACIÓN</h1>
        </div>
    </div>
    <div class="row mx-0 linea">
    </div>
    <div class="row seccion">
        <div class="logoTexto">
            <div class="logo">
                <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa">
                    <img src="assets/argentinaPrograma.png" alt="Logo de Argentina Programa" width="70px">
                </a>
            </div>
            <div>
                <p class="titulo">DESARROLLADOR WEB FULL STACK JUNIOR</p>
                <p class="lugar">Plan "Argentina Programa"</p>
                <p class="fecha">Marzo/2022 - Enero/2023</p>
            </div>
        </div>
        <div class="logoTexto">
            <div class="logo">
                <a href="https://secretariaextension.eco.unc.edu.ar/">
                    <img src="assets/secretariaDeExtension.jpg" alt="Logo de Secretaría de Extensión de la UNC" width="70px">
                </a>
            </div>
            <div>
                <p class="titulo">EXCEL AVANZADO</p>
                <p class="lugar">Secretaría de Extensión de la Universidad Nacional de Córdoba</p>
                <p class="fecha">Septiembre/2021 - Noviembre/2021</p>
            </div>
        </div>
        <div class="logoTexto">
            <div class="logo">
                <a href="https://www.eco.unc.edu.ar/">
                    <img src="assets/fce.png" alt="Logo de Facultad de Ciencias Económicas de la UNC" width="70px">
                </a>
            </div>
            <div>
                <p class="titulo">Estudiante avanzado de CONTADOR PÚBLICO</p>
                <p class="lugar">Universidad Nacional de Córdoba</p>
                <p class="fecha">2013 - 2023<span id="idiomas"></span></p>
            </div>
        </div>
    </div>
</div>