<div class="container-fluid px-5">
    <div class="row">
        <div class="col-1">
            <div class="triangulo">
            </div>
        </div>
        <div class="col-11 titulo">
            <h1>IDIOMAS</h1>
        </div>
    </div>
    <div class="row mx-0 linea">
    </div>
    <div class="row seccion">
        <div class="col-sm-3">
            <p class="idiomasTitulo">INGLÉS</p>
        </div>
        <div class="col-sm-9">
            <div class="progresoI">
                <p>Lectura</p>
                <div class="progress barIdiomas">
                    <div class="progress-bar" style="width:50%">
                    </div>
                </div>
            </div>
            <div class="progresoI">
                <p>Escritura</p>
                <div class="progress barIdiomas">
                    <div class="progress-bar" style="width:50%">
                    </div>
                </div>
            </div>
            <div class="progresoI">
                <p>Conversación</p>
                <div class="progress barIdiomas">
                    <div class="progress-bar" style="width:50%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row seccion">
        <div class="logoTexto">
            <div class="logo">
                <a href="https://iicana.org/">
                    <img src="assets/iicana.jpg" alt="Logo de IICANA" width="70px">
                </a>
            </div>
            <div>
                <p class="titulo">Curso de adultos completo (corresponde a nivel intermedio)</p>
                <p class="lugar">IICANA</p>
                <p class="fecha">2009 - 2012</p>
            </div>
        </div>
        <div class="logoTexto">
            <div class="logo">
                <a href="https://lenguas.unc.edu.ar/cursosdeidiomas">
                    <img src="assets/unc-cursosDeIdiomas.png" alt="Logo de Facultad de Lenguas de la UNC" width="70px">
                </a>
            </div>
            <div>
                <p class="titulo">Certificado de examen aprobado, correspondiente al ciclo de Inglés Nivel Intermedio</p>
                <p class="lugar">Anexo de la Facultad de Lenguas de la Universidad Nacional de Córdoba</p>
                <p class="fecha">2011<span id="habilidades"></span></p>
            </div>
        </div>
    </div>
</div>