body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(#FFFFFF, rgb(166, 170, 183));
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Alert Messages */
.alert {
    display: flex;
    align-items: center;
    border-radius: 0%;
}

.bi {
    font-size: 24px;
}

p {
    margin-bottom: 0px;
    margin-left: 10px;
}

/* Form */
h1 {
    text-align: center;
}

#agregarP {
    border-style: solid;   
    border-color:white;
    border-right-color: transparent;
    border-radius: 10px;
    box-shadow: 20px 20px 10px rgb(100, 103, 109);
}

@media (max-width: 768px) {
    #agregarP {
        width: 300px;
    }
}

@media (min-width:769px) {
    #agregarP {
        width: 600px;
    }
}

#agregarProyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 50px;   
}

@media (max-width: 768px) {
    .btn {
        width: 225px;
    }
}

@media (min-width:769px) {
    .btn {
        width: 525px;
    }
}
