<div class="container-fluid px-5">
    <div class="row">
        <div class="col-1">
            <div class="triangulo">
            </div>
        </div>
        <div class="col-11 titulo">
            <h1>PROYECTOS</h1>
        </div>
    </div>
    <div class="row mx-0 linea">
    </div>
    
    <button type="button" class="btn btn-dark" routerLink="/nuevoproy" *ngIf="isLogged" id="agregar">
        Nuevo Proyecto
    </button>
    
    <div class="row seccion">
        <div class="proyecto" *ngFor="let Proyectos of proy">
            <div class="row" id="proyecto">
                <div class="card">
                    <i class="bi bi-bookmark-fill"></i>
                    <div class="card-body">
                        <h5 class="card-title">{{Proyectos.nombre}}</h5>
                        <p class="card-text">{{Proyectos.descripcion}}</p>
                        <p>- {{Proyectos.fecha}} -</p>
                        <a href={{Proyectos.link}} class="btn btn-primary mx-auto d-block" id="ver">Ver</a>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-dark" routerLink="/editproy/{{Proyectos.id}}" *ngIf="isLogged" id="editar">
                    <i class="bi bi-pencil-fill"></i>
                </button>
                <button class="btn btn-dark" (click)="delete(Proyectos.id)" *ngIf="isLogged" id="eliminar">
                    <i class="bi bi-x-lg"></i>
                </button>
            </div>
        </div>
    </div>
</div>
