<body>
  
  <!-- Alert Message -->
  <div class="alert alert-danger fixed-top" *ngIf="dangerMessage">
    <i class="bi bi-exclamation-triangle-fill"></i>
    <p>Error. El usuario o la contraseña son incorrectos. Por favor, inténtelo de nuevo.</p>
  </div>
  
  <!-- Iniciar Sesión -->
  <div class="iniciarSesion">
    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate id="iS">
      <h1 class="m-5">Iniciar Sesión</h1>
      <div class="m-5">
        <label for="nombreUsuario" class="form-label">Usuario</label>
        <input type="email" class="form-control" id="nombreUsuario" placeholder="Ingrese el usuario" [(ngModel)]="nombreUsuario" name="nombreUsuario" required />
      </div>
      <div class="m-5">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" placeholder="Ingrese la contraseña" [(ngModel)]="password" name="password" required />
      </div>
      <div id="acceder">
        <button type="submit" class="btn btn-primary">
          Acceder
        </button>
      </div>
    </form>
  </div>

</body>
